@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  display: none;
}

.card {
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.06);
  border-radius: 25px 0 0 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.input-text {
  box-sizing: border-box;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0px 20px 0px;
}

label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.btn {
  width: 70%;
  height: 45px;
  background: #133b5c;
  color: #ffffff;
  border: 2px solid #133b5c;
  border-radius: 7px;
}

.btn:hover {
  background: #ffffff;
  color: #133b5c;
  transition: all 0.2s ease;
}

.navSvg path{
  stroke: #f46b6b;
}

.img-box{
  display: flex;
  width: 90%;
  height: 28px;
  align-items: center;
  border-radius: 5px;
}
.img-box:hover{
  background: #f4f0f0;
}
.img{
  width: 30%;
  height: 60%;
}

.blue-gradient {
  background: #133b5c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    181.36deg,
    #133b5c -27.88%,
    #032038 142.94%
  );
  background: linear-gradient(181.36deg, #133b5c -27.88%, #032038 142.94%);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading::after {
  content: "";
  animation: load 2s infinite ease;
}

.group-img {
  opacity: 0;
  animation: vis 9s ease-out 3s infinite;
}
.svg1 svg{
  animation: moveT 9s ease-out 3s infinite;
}
.svg1 svg path{
  animation: colorChangeT 9s ease-out 3s infinite;
}

.svg2 svg {
  background-color: rgba(12, 47, 75, 0.6);
  filter: blur(3px);
  backdrop-filter: blur(6px);
  animation: moveB 9s ease-out 3s infinite;
}
.svg2 svg path {
  animation: colorChangeB 9s ease-out 3s infinite;
}

@keyframes moveT {
  0% {
    transform: translateX(0px);
    width: 100%;
  }
  3.5% {
    transform: translateX(0px);
    width: 100%;
  }
  13.5% {
    transform: translateX(-70px);
    width: 50%;
  }
  28.5% {
    transform: translateX(0px);
    width: 100%;
  }
  63.5% {
    transform: translateX(0px);
    width: 100%;
  }
  73.5% {
    transform: translateX(95px);
    width: 50%;
  }
  88.5% {
    transform: translateX(-0px);
    width: 100%;
  }
  100% {
    transform: translateX(-0px);
    width: 100%;
  }
}

@keyframes moveB {
  0% {
    transform: translateX(0px);
    width: 100%;
    filter: blur(3px);
    backdrop-filter: blur(6px);
  }
  0.5% {
    filter: none;
  }
  3.5% {
    transform: translateX(0px);
    width: 100%;
  }
  13.5% {
    transform: translateX(95px);
    width: 50%;
    filter: none;
  }
  28.5% {
    transform: translateX(0px);
    width: 100%;
  }
  33% {
    filter: none;
  }
  33.5% {
    filter: blur(3px);
    backdrop-filter: blur(6px);
  }
  63% {
    filter: blur(3px);
    backdrop-filter: blur(6px);
  }
  63.5% {
    transform: translateX(0px);
    width: 100%;
    filter: none;
  }
  73.5% {
    transform: translateX(-70px);
    width: 50%;
    filter: none;
  }
  88.5% {
    transform: translateX(-0px);
    width: 100%;
    filter: none;
  }
  91% {
    filter: blur(3px);
    backdrop-filter: blur(6px);
  }
  100% {
    transform: translateX(-0px);
    width: 100%;
    filter: blur(3px);
    backdrop-filter: blur(6px);
  }
}

@keyframes colorChangeT {
  0% {
    fill: #108efa;
  }
  3.5% {
    fill: #108efa;
  }
  13.5% {
    fill: #74bf90;
  }
  28.5% {
    fill: #108efa;
  }
  63.5% {
    fill: #108efa;
  }
  73.5% {
    fill: #74bf90;
  }
  88.5% {
    fill: #108efa;
  }
  100% {
    fill: #108efa;
  }
}

@keyframes colorChangeB {
  0% {
    fill: #2580cf;
  }
  0.5% {
    fill: #2580cf;
  }
  13.5% {
    fill: #1d4656;
  }
  32% {
    fill: #23708f00;
  }
  33% {
    fill: none;
  }
  33.5% {
    fill: #2580cf;
  }
  63.5% {
    fill: #2580cf;
  }
  73.5% {
    fill: #1d4656;
  }
  88.5% {
    fill: #23708f00;
  }
  89% {
    fill: none;
  }
  91% {
    fill: #2580cf;
  }
  100% {
    fill: #2580cf;
  }
}

@keyframes vis {
  0% {
    opacity: 0;
  }
  13.5% {
    opacity: 1;
  }
  28.5% {
    opacity: 0;
  }
  63.5% {
    opacity: 0;
  }
  73.5% {
    opacity: 1;
  }
  88.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}